.depro .header {
  display: grid;
  place-items: center;
  background-color: var(--clr-accent);
  color: white;
  border-bottom: 4px solid black;
}

.depro .header-content {
  width: clamp(2rem, 80vw, 80rem);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
}

.depro .title {
  text-align: left;
  margin-top: 2rem;
  font-size: 3.9rem;
}

.depro .main {
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-gap: 3rem;
  padding: 3rem 0;
  color: black;
}

.depro .content {
  width: clamp(2rem, 80vw, 80rem);
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}