.depro .header {
  display: grid;
  place-items: center;
  background-color: var(--clr-accent);
  color: white;
  border-bottom: 4px solid black;
}

.depro .header-content {
  width: clamp(2rem, 80vw, 80rem);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
}

.depro .header-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2.5rem 0 0.5rem 0;
}

.depro .project-image {
  height: 10rem;
}

.depro .demo-link {
  display: flex;
  gap: 0.2rem;
  text-decoration: none;
  color: white;
}

.depro .header-title-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.depro .title {
  text-align: left;
  font-size: 3.9rem;
}

.depro .main {
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-gap: 3rem;
  padding: 3rem 0;
  color: black;
}

.depro .content {
  width: clamp(2rem, 80vw, 80rem);
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.depro .content-item {
  width: clamp(2rem, 80vw, 80rem);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1635px) {
  .depro .content-item {
    width: 35rem;
  }
  .depro .content-body {
    flex-grow: 1;
  }
}

.depro .content-heading {
  text-align: left;
  font-size: clamp(1.5rem, 4vw, 2.8rem);
  margin: 0;
}

.depro .content-body {
  border: 4px solid black;
  background-color: white;
  box-shadow: 4px 4px;
  text-align: left;
  padding: 2rem;
}