.home .header {
  display: grid;
  place-items: center;
  background-color: var(--clr-accent);
  color: white;
  border-bottom: 4px solid black;
}

.home .header-content {
  width: clamp(2rem, 80vw, 80rem);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.home .greeting {
  text-align: left;
  margin: 2rem 0;
}

.home .greeting1 {
  font-size: 3.9rem;
  margin-bottom: 1rem;
}

.home .greeting2 {
  font-size: 1.5rem;
  margin: 0;
}

.home .greeting3 {
  font-size: 1.1rem;
  margin: 0;
}

.home .header-buttons {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.home .social-button-background {
  background-color: white;
  padding: 0.3rem;
  border-radius: 4rem;
}

.home .social-button {
  padding: 0.5rem;
}

.home .main {
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-gap: 3rem;
  padding: 3rem 0;
  color: black;
}

.home .content {
  width: clamp(2rem, 80vw, 80rem);
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.home .item-heading {
  font-size: 1.3rem;
}

.home .time {
  margin: 0.5rem 0;
  font-style: italic;
}

.home hr {
  border: 1px solid black;
}

.home .content-item {
  width: clamp(2rem, 80vw, 80rem);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1635px) {
  .home .content-item {
    width: 35rem;
  }
  .home .content-body {
    flex-grow: 1;
  }
}

.home .content-heading {
  text-align: left;
  font-size: clamp(1.5rem, 4vw, 2.8rem);
  margin: 0;
}

.home .content-body {
  border: 4px solid black;
  background-color: white;
  box-shadow: 4px 4px;
  text-align: left;
  padding: 2rem;
}